{% extends 'base.html' %} {% block title %}About{% endblock title %} {% block
content %}
<div class="container-fluid">
    <div class="row justify-content-md-center my-6">
        <div class="col-md-7 col-lg-5">
            <h1 class="display-1 text-center mb-5">About</h1>
        </div>
    </div>
    <div class="row justify-content-md-center my-4">
        <div class="col-md-8 col-lg-6">
            <h2 class="mb-4">SmartCommerce: Revolutionizing Online Shopping</h2>
            <h3 class="mb-3">Intuitive Search Experience</h3>
            <p>
                Harness the power of advanced language models to search for
                products on eBay. Simply type in natural language, and let our
                platform understand and find exactly what you're looking for.
            </p>

            <h3 class="mb-3">Personalized Wishlists</h3>
            <p>
                Create multiple wishlists, add your favorite products, and
                organize them the way you want. Whether it's for a birthday,
                holiday, or just window shopping, your lists are always at your
                fingertips.
            </p>

            <h3 class="mb-3">Seamless Integration with eBay</h3>
            <p>
                Directly access a vast array of products from eBay. From the
                latest tech gadgets to vintage collectibles, discover and add
                them to your wishlist in a snap.
            </p>

            <h3 class="mb-3">Safe and Secure</h3>
            <p>
                Your data's privacy is our top priority. Shop and create
                wishlists with the peace of mind that your information is
                protected.
            </p>

            <div class="text-center mt-5">
                <a href="/signup" class="btn btn-primary">Get Started Now</a>
            </div>

            <p class="text-center mt-4">
                Dive into a new era of online shopping.
            </p>
        </div>
    </div>
</div>
{% endblock content %}
