{% extends 'base.html' %} {% block title %}Home{% endblock title %} {% block
content %}
<div class="d-flex justify-content-center">
    <div class="mw-100 text-center">
        <h1 class="display-1 mb-4" style="text-transform: none">
            eBay Product Search
        </h1>
        <p class="lead w-50 mx-auto">
            Harness the power of advanced language models to search for products
            on eBay. Simply type in natural language, and let our platform
            understand and find exactly what you're looking for.
        </p>
        <div class="text-center">
            <a href="/signup" class="btn btn-primary btn-large">Get Started</a>
        </div>
    </div>
</div>
{% endblock content %}
